{% extends "AUTH/navbar.html" %}
{% block title %}<title>首页</title>{% endblock %}
{% block content %}
    <div class="container">
    <h1></h1>
        <div class="jumbotron">
            <h1>欢迎来到 “运维管理系统”</h1>
            <p>
                基于Bootsrap前端技术+Django后台技术+Python语言开发的；结构上以Nginx+WSGI+Django为展示
            </p>
            <p align="right">
                <a class="btn btn-primary btn-lg" href="http://billwang139967.github.io/" role="button" target="_blank">
                    访问作者博客
                </a>
            </p>
        </div>
    </div>
{% endblock %}
